[package]
name = "horizon"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.8.5"
rayon = "1.8.0"
mac_address = "1.1.5"
sha3 = "*"
sha2 = "0.10.8"
